.square{
	position: absolute;
}
.circle{
	border-radius: 50%;
	position: absolute;
}
#shapearea{
	height: 700px;
	width: 500px;
	border: 2px solid black;
	position: relative;
}

h1{
	position: center;
}

